.about {
  
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    .img{
     margin: 0;
      padding: 0; 
    }
    .img__box{
   
      max-width: 100vw;
     
        .img__header{ 
            margin: none;
            height: 400px;
            width: 100%;
            object-fit: cover;

        }
      
    }
    .about__content{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 5rem;
     
        .img__content{
          
         .img__making{
           
            width: 200px;
             
         }
        }
        .text{
        margin-left: 4rem;
        }
    }
}